# 01 julia notebook

.quarto/*
.quarto-cache/*
.cache/*
.quarto*
.git/
.vdoc.*
/.cache/*
.cache*
.CondaPkg

# 02 pixi
.pixi/*
!.pixi/config.toml
.pixi/cache/*
.pixi/cache/*
.pixi/envs/*

# python
__pycache__/
*.pyc

# specific of project: "02 - lenet5/data"
02 - lenet5/data/*
03 - GoogleNet/data/*
# pixi environments
.pixi/*
!.pixi/config.toml
